@page "/live"
@inject IConfiguration Configuration
@inject HttpClient Http
@using Cricbuzz.Models
@using System.Text.Json

<PageTitle>Live</PageTitle>

@if (matchList == null || matchList.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h>Live Match Details:</h>
    @foreach (var match in liveMatchList.Data)
    {
        <div>
            <h5>@match.Series</h5>
            <p>Status: @match.Status</p>
            <p>Match Type: @match.MatchType</p>
            <p>Date and Time: @match.DateTimeGMT.ToString("yyyy-MM-ddTHH:mm:ss")</p>
            <p>Team 1: @match.T1</p>
            <p>Team 2: @match.T2</p>
        </div>
    }

}


@code {
    private Matches? matchList;
    string? api;
    int count = 1;

    private Matches liveMatchList;

    protected override void OnInitialized()
    {
        liveMatchList = new Matches { Data = new List<MatchData>() };
    }

    protected override async Task OnInitializedAsync()
    {
        // Replace with your API endpoint
        api = Configuration["CRICKET_API_KEY"];
        var response = await Http.GetAsync($"https://api.cricapi.com/v1/cricScore?apikey={api}");
        response.EnsureSuccessStatusCode();

        var jsonString = await response.Content.ReadAsStringAsync();
        matchList = JsonSerializer.Deserialize<Matches>(jsonString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

        if (matchList != null)
        {
            foreach (var match in matchList.Data)
            {
                if (match.Status != "Match not started" && !match.Status.Contains("won by"))
                {
                    liveMatchList.Data.Add(match);
                }
            }
        }
    }
}